.story-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.tint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 26, 26, 0.5);
}

.story-info {
  position: absolute;
  left: 25px;
  bottom: 25px;
}

.story-date,
.story-title,
.story-author,
.story-link,
.arrow {
  color: #fff;
  z-index: 1;
}

.story-title {
  font-size: 1.5rem;
}

.story-link {
  padding-top: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.story-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
