.about {
  display: grid;
  grid-template-rows: 294px 1fr;
}

@media (min-width: 768px) {
  .about:nth-child(odd) {
    grid-template-columns: 273px 1fr;
    grid-template-rows: 600px;
  }

  .about:nth-child(even) {
    grid-template-columns: 1fr 273px;
    grid-template-rows: 600px;
  }

  .about:nth-child(even) .about-image {
    grid-column: 2;
    grid-row: 1;
  }
}

@media (min-width: 1440px) {
  .about:nth-child(odd) {
    grid-template-columns: 830px 1fr;
    grid-template-rows: 600px;
  }

  .about:nth-child(even) {
    grid-template-columns: 1fr 830px;
    grid-template-rows: 650px;
  }
}
