.about {
  display: grid;
  grid-template-rows: 294px 1fr;
}

.home-stories {
  display: grid;
  grid-template-rows: repeat(4, 375px);
}

.home-features {
  margin: 6rem 0;
}

@media (min-width: 768px) {
  .about:nth-child(odd) {
    grid-template-columns: 273px 1fr;
    grid-template-rows: 600px;
  }

  .about:nth-child(even) {
    grid-template-columns: 1fr 273px;
    grid-template-rows: 600px;
  }

  .about:nth-child(even) .about-image {
    grid-column: 2;
    grid-row: 1;
  }

  .home-stories {
    grid-template-columns: repeat(2, 389px);
    grid-template-rows: repeat(2, 500px);
  }

  .home-features {
    padding: 0 6rem;
  }
}

@media (min-width: 1440px) {
  .about:nth-child(odd) {
    grid-template-columns: 830px 1fr;
    grid-template-rows: 600px;
  }

  .about:nth-child(even) {
    grid-template-columns: 1fr 830px;
    grid-template-rows: 650px;
  }

  .home-stories {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 600px;
  }

  .home-features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
